.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delete-button {
    background-color: #f44336;
    color: rgb(215, 245, 176);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  #button-inicio{
    margin-left: 45%;
    margin-top: 10%;
  }
  #botton-compra{
    margin-left: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #botton-compra h2{
    margin-left: 5%;
  }
  #vaciar-cart{
    margin-bottom: 2%;
  }