div {
    position: relative;
}

img {
    max-width: 100px;
    height: auto;
}

p {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f00; 
    color: #fff; 
    padding: 5px; 
    border-radius: 50px;
}