div {
    position: relative;
}

#imgIncono {
    max-width: 100px;
    height: auto;
}

#containerCount {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f00; 
    color: #fff; 
    padding: 5px; 
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 8px;
}